name: Ping Render Service

on:
  schedule:
    - cron: "*/5 * * * *"   # every 5 minutes

jobs:
  ping:
    runs-on: ubuntu-latest
    steps:
      - name: Ping your Render backend
        run: curl -I https://codecampus-backend.onrender.com/api/v1/auth/check